:root {
    --dark: #131c21;
    --dark-blue: #085373;
    --gray: #3f4347;
    --dark-gray: #2a2f32;
}

body {
    margin: 0%;
}

main {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
}

aside {
    background-color: var(--dark);

    display: grid;
    grid-template-rows: 8vh 12vh 7vh 73vh;
    grid-template-columns: 30vw;
}

aside > * {
    border: 1px solid var(--gray);
}

aside > nav {
    display: flex;
    align-items: center;
    padding: 1vmin;
    box-sizing: border-box;
    width: 100%;
    gap: 1vmin;
    background-color: var(--dark-gray);
}

aside > nav > #avatar {
    border-radius: 50%;
    justify-self: start;
    height: 4vh;
}

aside > nav > .nav-icon {
    justify-self: end;
    height: 3vh;
    cursor: pointer;
}

#notify {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

aside > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection {
    display: flex;
    flex-direction: column;
}

.flex-push {
    margin-left: auto;
}

.light-url, .light-url:visited, .light-url:active {
    color: white;
}


.chat {
    display: flex;
    height: 10vh;
    box-sizing: border-box;
    padding: 1vmin;

    align-items: center;
    color: white;
    border-bottom: 1px solid var(--gray);
    gap: 2vmin;
}

.chat > img {
    height: 5vh;
    border-radius: 50%;
}

.chat > .desc > *, .chat > .time {
    margin: 0%;
}

.chat > .time {
    align-self: flex-start;
}

form > input {
    border: 0px transparent; 
    border-radius: 2vmin;
    width: 90%;
    text-align: center;
    aspect-ratio: 16/1;
    background-color: var(--dark-gray);
    color: white;
}

form > input:focus {
    outline: 2px solid var(--gray);
}